h1
{
  text-align: center;
  color: blueviolet;
}

#cities {
  font-family: "Trebuchet MS", Arial, "Helvetica Neue", sans-serif;
  border-collapse: collapse;
  width: auto;
}

#cities td, #cities th {
  border: 1px solid white;
  padding: 8px;
}

#cities tr:nth-child(even){background-color: #f2f2f2;}
#cities tr:hover {background-color: #ddd;}
#cities th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blueviolet;
  color: white;
}
